<!DOCTYPE html>
<html>
<head>
  <!--author: huanlv@topica.edu.vn-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>TST - Phim</title>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <section class="pure-g">
        <div class="pure-u-1">
          <img src="https://dvkhfbm6djrbs.cloudfront.net/57c12a05c1f23e441f1615eb/57f61ba2c1f23e14edefcd8a/huanvvv.jpg" class="pure-img">

          <form class="pure-form" method="get" action="/search">
            <fieldset>
              {{#csrfToken}}
              <input class="pure-input-1" type="hidden" name="_csrf" value="{{csrfToken}}">
              {{/csrfToken}}
              <input class="pure-input-1" type="text" name="q" placeholder="Nhập Tên Phim">
              <button class="pure-button pure-input-1 pure-button-primary" type="submit">
                Tìm
              </button>
            </fieldset>
          </form>

          <div style="text-align: left;">
            <h3 class="green">Cập nhật:</h3>
            <!-- <ol>
              <li></li>
            </ol> -->
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>


